.header {
    height: 12vh;
    background-color: #10375c;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header-text {
    color: #FFF;
    font-family: Arial;
    font-size: 24px;
    letter-spacing: 5px;
}

@media only screen and (min-width: 1025px) {
    .header-text {
        font-size: 42px;
    }
}