.card {
    min-height: 30vh;
    width: 85%;
    margin-top: 2%;
}

.mask-required-container {
    display: flex;
    align-items: center;
}

.yes-no-icon {
    margin-left: 15px;
}

@media only screen and (min-width: 1025px) {
    .card {
        width: 30%;
    }
}