.App {
  /* text-align: center; */
}

.card-container {
  display: flex;
  /* align-items: center; */
  justify-content: center;
  flex-wrap: wrap;
}

h1 {
  margin: 0;
  text-align: center;
}

body {
  background-color: #f4f6ff;
}

@media only screen and (min-width: 1025px) {
  .card-container {
    justify-content: space-around;
  }
}