.card {
    min-height: 30vh;
    width: 85%;
    margin-top: 2%;
}

.place-details-container {
    display: flex;
    justify-content: space-around;
}

.card-description {
    min-height: 80px;
}

.mask-required-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.yes-no-icon {
    margin-left: 15px;
}

.card-image {
    width: 100%;
}

.card-image-background {
    background-size: cover;
    height: 350px;
    width: 100%;
}

/* desktop */
@media only screen and (min-width: 1025px) {
    .card {
        width: 30%;
    }

    .card-image-background {
        height: 30vh;
    }
}